.git
.gitignore
.env
.env.*.php
.env.*.local
.env.backup
.env.production.backup
.env.local
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
.DS_Store
.editorconfig
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests/
.vscode
.idea
docker-compose.override.yml
